@use "layout";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: RobotoMedium, sans-serif;
    color: #052c65;
}

@font-face {
    font-family: 'SecretService';
    src: url('../fonts/SecretService-Regular.ttf') format('truetype'),
    url('../fonts/SecretService-Regular.woff') format('woff'),
    url('../fonts/SecretService-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: RobotoMedium;
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
}

.main {
    .container {
        margin-top: 80px;
        padding-left: 61px;
        .main_title {
            font-size: 40px;
            margin-bottom: 40px;
        }
        .main_switch {
            flex-wrap: wrap;
            button {
                width: 100px;
            }
            .main_switch-data {
                align-items: center;
                justify-items: center;
                input.datepicker {
                    border: none;
                    outline: none;
                    width: 100px;
                    text-align: center;
                    cursor: pointer;
                    &::placeholder {
                        text-decoration-line: underline;
                        text-decoration-skip-ink: none;
                    }
                }
            }
        }

        .main_chartPies {
            margin-top: 80px;
            justify-content: start;
            .main_chartPies-left {
                max-width: 100%;
                margin-right: 85px;
                .main_chartPies-left_title {
                    margin-bottom: 40px;
                    font-size: 28px;
                    color: #290661;
                }

            }
            .main_chartPies-right {
                margin-left: 85px;
                .main_chartPies-right_title {
                    margin-bottom: 40px;
                    font-size: 28px;
                    color: #290661;
                }
                #myPieChart-right {
                    //height: 414px;
                }
            }
            .main_chartPies-vr {
                width: 1px;
                height: 340px;
                background: #D9D9D9;
                margin-top: auto;
            }
        }
    }
}